<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-bujinqi></app-bujinqi>


<button mat-raised-button (click)="openBottomSheet()">服务可用于在屏幕底部打开一些 Material Design 面板。 这些面板的主要目的是在移动设备上作为对话框和菜单的替代品提供交互体验</button>
<button mat-raised-button (click)="openDialog()">Pick one</button>

<div class="example-focus-monitor">
  <button #element>Focus Monitored Element ({{elementOrigin}})</button>
</div>

<div class="example-focus-monitor">
  <div #subtree>
    <p>Focus Monitored Subtree ({{subtreeOrigin}})</p>
    <button>Child Button 1</button>
    <button>Child Button 2</button>
  </div>
</div>
<div #connectComponentOrigin class="right-bottom"
(mouseenter)="showOverlayPanelConnectComponent()"
(mouseleave)="dismissOverlayPanelConnectComponent()">

</div>

<!-- 全局显示 页面中心显示 (点击的时候显示) -->
<button (click)="showOverlayGlobalPanelCenter()">页面中心显示</button>
