<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/demo/index']">index</li>
  <li class="list-group-item" [routerLink]="['/demo/hello']">hello</li>
  <li class="list-group-item" [routerLink]="['/demo/drag']">drag</li>
  <li class="list-group-item" [routerLink]="['/demo/material']">material</li>
  <li class="list-group-item" [routerLink]="['/demo/charts']">charts</li>
  <li class="list-group-item" [routerLink]="['/demo/threejs']">threejs</li>
  <li class="list-group-item" [routerLink]="['/demo/babylonjs']">babylonjs</li>
  <li class="list-group-item" [routerLink]="['/demo/DemoHttp']">DemoHttp</li>
  <li class="list-group-item" [routerLink]="['/demo/DemoServer']">DemoServer</li>
  <li class="list-group-item" [routerLink]="['/demo/form']">Demoform</li>
  <li class="list-group-item" [routerLink]="['/demo/re-form']">响应式表单</li>
  <li class="list-group-item" [routerLink]="['/demo/onpush']">onpush策略</li>
  <li class="list-group-item" [routerLink]="['/demo/socket']">socket 链接</li>
  <li class="list-group-item" [routerLink]="['/demo/screenshots']">screenshots</li>
  <li class="list-group-item" [routerLink]="['/demo/asyncAwait']">asyncAwait</li>
  <li class="list-group-item" [routerLink]="['/demo/currie']">柯里化函数</li>

</ul>
<button (click)="btnClick()">改变服务值</button>
<!-- <demo-onpush [father]="father"></demo-onpush> -->
