img{
  width: 200px;
}

.xxxxxxx{
  width: 150px;
  height: 150px;
  background-color: yellow;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.father{
  width: 250px;
  height: 250px;
  background-color: skyblue;
}
