<div class="waterfall-box">
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
  <div [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
</div>
