.page-wrapper{
  position: relative;
  padding-top: 65px;
  height: 100%;

  .content-wrapper{
    position: relative;
    margin-left: 220px;
    padding: 10px;
    background: #e8edf7;
    transition: all .2s ease;
  }
}
