<div class="alert-box jumbotron">
  <div routerLink="../index" class="alert alert-primary">
    index
  </div>
  <div routerLink="./child1" class="alert alert-secondary">
    child1
  </div>
  <div routerLink="./child2" class="alert alert-success">
    child2
  </div>
  <div [routerLink]="['../child3', '1']" [queryParams]="{debug: true}" class="alert alert-danger">
    child3
  </div>
  <div [routerLink]="['/router/child4']" class="alert alert-warning">
    child4
  </div>
</div>

<div class="jumbotron">
  <button type="button" (click)="btnClick1()" class="btn btn-primary">index</button>
  <button type="button" (click)="btnClick2()" class="btn btn-secondary">child1</button>
  <button type="button" (click)="btnClick3()" class="btn btn-success">child2</button>
  <button type="button" (click)="btnClick4()" class="btn btn-danger">child3</button>
  <button type="button" (click)="btnClick5()" class="btn btn-warning">child4</button>
  <button type="button" (click)="btnClick6()" class="btn btn-info">Info</button>
</div>


