/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
}


body {
  overflow: hidden;
  background: #e8edf7;
  height: 100%;
}

[role="button"] {
  cursor: pointer;
}

[role="move"] {
  cursor: move;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

