/* You can add global styles to this file, and also import other style files */

// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html {
  height: 100%;
}


body {
  overflow: hidden;
  background: #e8edf7;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

[role="button"] {
  cursor: pointer;
}

[role="move"] {
  cursor: move;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body{
  position:relative;
}
.img {
  width: 20px;
  height: 20px;
  opacity: 1;
  position: absolute;
  z-index: 100000;
  transition: 1s;
}
.left,.right {width: 10px;height: 10px;border-radius: 100%;position: absolute;}
.right {right: 0;}
.under {width: 10px;height: 10px;position: absolute;top: 5px;left: 5px;transform: rotate(45deg)}
.text {width: 50px;font-size: 10px;line-height: 1;position: absolute;top: -1em;left: -15px;text-align: center;}
