<div class=flex-box>
  <div class="item item1 shadow bg-primary rounded"></div>
  <div class="item item2 shadow bg-success rounded"></div>
  <div class="item item3 shadow bg-danger rounded"></div>
  <div class="item item4 shadow bg-warning rounded"></div>
  <div class="item item5 shadow bg-info rounded"></div>
  <div class="item item5 shadow bg-dark rounded"></div>
  <div class="item item5 shadow bg-secondary rounded"></div>
</div>

<h2>flex 实现的骰子</h2>
<div class="dice-box">
  <div class="dice dice1">
    <div class="item"></div>
  </div>
  <div class="dice dice2">
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <div class="dice dice3">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <div class="dice dice4">
    <div class="column">
        <div class="item"></div>
        <div class="item"></div>
    </div>
    <div class="column">
        <div class="item"></div>
        <div class="item"></div>
    </div>
  </div>
  <div class="dice dice5">
      <div class="column">
          <div class="item"></div>
          <div class="item"></div>
      </div>
      <div class="column">
          <div class="item"></div>
      </div>
      <div class="column">
          <div class="item"></div>
          <div class="item"></div>
      </div>
  </div>
  <div class="dice dice6">
      <div class="column">
          <div class="item"></div>
          <div class="item"></div>
      </div>
      <div class="column">
          <div class="item"></div>
          <div class="item"></div>
      </div>
      <div class="column">
          <div class="item"></div>
          <div class="item"></div>
      </div>
  </div>
</div>

<div class="waterfall-box">
  <div *ngFor="let item of 'x'.repeat(100).split('')" [ngStyle]="{'height': renderHeight(), 'background-color': renderColor()}"></div>
</div>
